<!-- BEGIN NAV-->
<div class="main-nav">
    <nav>
      <ul>
        <li><a href="index-2.html#intro">Home</a></li>
        <li><a href="index-2.html#about">About</a></li>
        <li><a href="index-2.html#expirience">Education</a></li>
        <li><a href="index-2.html#skills">Skills</a></li>
        <li><a href="index-2.html#projects">Coding experiences and Hobbies</a></li>
        <li><a href="index-2.html#contacts">Contact Me</a></li>
      </ul>
    </nav>
    <div class="btn-icon btn-nav">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <!-- END NAV-->

  <!-- BEGIN HEADER-->
  <section id="intro" class="section section-bg-img section-bg-overlay section-bottom-rise">
    <div class="bg"></div>
    <div class="section-inner">

      <div class="container">

        <div class="intro">
          <header class="heading"><i data-wow-delay="0.1s"></i>
            <h1 class="wow zoomIn"><span class="name">I am <span class="fn">Rhosell Calipusan</span></span>
                <span class="animated-letters category"><b class="is-visible">Student</b> 
                <b>Programmer</b><b>Entrepreneur</b></span>
            </h1>
            <div class="separator wow zoomIn"></div>
          </header>

          <div data-wow-delay="0.1s" class="wow fadeInUp">
            <a href="#contacts" class="btn btn-bordered btn-go">Contact Me</a></div>
        </div>

      </div>

    </div>
    <canvas id="particles"></canvas>
  </section>
  <!-- END HEADER-->

   <!-- BEGIN ABOUT SECTION-->
   <section id="about" class="section section-bg-light section-top-rise section-bottom-rise">
    <div class="section-inner">

      <div class="container">

        <header class="heading">
          <h2>About</h2>
          <div class="separator"></div>
        </header>

        <div class="row">
          <div class="col span_4 center">
            <div class="site-photo"><img src="./assets/images/rhosell.jpg" width="250" height="250" alt="Photo" class="photo"></div>
          </div>
          <div class="col span_8">
            <h3> Student </h3>
            <p> I am a 4th year student of Bohol Island State University taking up BS-Computer Engineering.</p>
            <h3> Aspirant Programmer </h3>
            <p> I know the basics of JAVA, PHP, HTML and CSS. Right now I am learning Angular for web developing.</p>
            <h3> Aspirant Entrepreneur </h3>
            <p> I would like to establish my own business someday. Right now, I am a load retailer on our place. 
              I also sell frozen products through marketing it on the social media platform.
            </p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- END ABOUT SECTION-->

  <!-- BEGIN EDUCATION SECTION-->
  <section id="expirience" class="section">
    <div class="section-inner">

      <div class="container">

        <header class="heading">
          <h2>Education </h2>
          <div class="separator"></div>
        </header>

        <div class="expirience">
          <div class="expirience-item">
            <div class="icon-b wow bounceIn"><i class="fa fa-mortar-board"></i></div>
            <div class="expirience-item-inner wow bounceInRight">
              <div class="date">2006-2012</div>
              <h3>Elementary</h3>
              <p>Buenavista Elementary School</p>
            </div>
          </div>
          <div class="expirience-item">
            <div class="icon-b wow bounceIn"><i class="fa fa-mortar-board"></i></div>
            <div class="expirience-item-inner wow bounceInLeft">
              <div class="date">2012-2016</div>
              <h3>Junior High </h3>
              <p>Camaya-an National High School</p>
            </div>
          </div>
          <div class="expirience-item">
            <div class="icon-b wow bounceIn"><i class="fa fa-mortar-board"></i></div>
            <div class="expirience-item-inner wow bounceInRight">
              <div class="date">2016 - 2018</div>
              <h3>Senior High</h3>
              <p>Cristal-e College</p>
              <p><i> ICT-Computer Programming </i></p>
            </div>
          </div>
          <div class="expirience-item">
            <div class="icon-b wow bounceIn"><i class="fa fa-mortar-board"></i></div>
            <div class="expirience-item-inner wow bounceInLeft">
              <div class="date">2018-Present</div>
              <h3>College</h3>
              <p>Bohol Island State University-Main Campus</p>
              <p><i> BS-Computer Engineering </i></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- END EXPIRIENCE SECTION-->

    <!-- BEGIN SERVICES SECTION-->
      <!-- END SERVICES SECTION-->
  
    <!-- BEGIN SKILLS SECTION-->
    <section id="skills" class="section section-bg-light section-top-fall section-bottom-fall">
        <div class="section-inner">
  
          <div class="container">
  
            <div class="row">
              <div class="col span_8">
                <h3>My skills</h3>
<!--            <div class="separator l"></div>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                <p>Lorem ipsum Laboris Excepteur aliquip irure sunt velit dolor sed ea culpa voluptate ad labore qui.</p>
              </div>
              <div class="col span_4">
                <div class="skills">
                  <div data-progress="90" class="skills-item wow">
                    <div class="skills-item-progress"></div>
                    <h4>Identica</h4>
                  </div>
                  <div data-progress="100" class="skills-item wow">
                    <div class="skills-item-progress"></div>
                    <h4>Media</h4>
                  </div>
                  <div data-progress="95" class="skills-item wow">
                    <div class="skills-item-progress"></div>
                    <h4>Print Design</h4>
                  </div>
                  <div data-progress="90" class="skills-item wow">
                    <div class="skills-item-progress"></div>
                    <h4>Web design</h4>
                  </div>
                  <div data-progress="80" class="skills-item wow">
                    <div class="skills-item-progress"></div>
                    <h4>Web development</h4>
                  </div>
                </div>-->
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- END SKILLS SECTION-->
  
      <!-- BEGIN Coding experiences and Hobbies SECTION-->
      <section id="projects" class="section">
        <div class="section-inner">
  
          <div class="container">
  
            <header class="heading">
              <h2>Coding Experiences & Hobbies</h2>
              <div class="separator"></div>
            </header>
  
            <ul class="filter">
              <li data-group="all" class="active">All</li>
              <li data-group="web">Coding Experience</li>
              <li data-group="branding">Hobby</li>
            </ul>
  
            <ul class="works">
              <li data-groups="[&quot;web&quot;]" class="works-item"><a href="#works-item-details-1" class="works-item-link">
                <span class="works-item-thumb"><img src="./assets/images/immersion.png" width="250" height="250" alt=""></span></a>
                <div id="works-item-details-1" class="popup mfp-hide">
                  <figure><img src="./assets/images/immersion.png" width="750" height="500" alt=""></figure>
                  <div class="popup-inner">
                    <h3>SHS Immersion</h3>
                    <p>Web design for the business of my employer during SHS Immersion.</p>
                  </div>
                </div>
              </li>
<!--          <li data-groups="[&quot;branding&quot;]" class="works-item works-item-t"><a href="#works-item-details-4" class="works-item-link"><span class="works-item-thumb"><img src="./assets/images/cheerdance2.jpg" width="250" height="250" alt=""></span></a>
                <div id="works-item-details-4" class="popup mfp-hide">
                  <figure><img src="./assets/images/cheerdance2.jpg" width="750" height="500" alt=""></figure>
                  <div class="popup-inner">
                    <h3>Paper Bag Packaging</h3>
                    <p>Lorem ipsum dolor sit amet, mauris diam. Magna eros. Sed eu, vitae et quis, nibh arcu. Id aliquam mollis. Tincidunt aliquam aliquam, wisi ornare.</p>
                    <div class="center"><a href="#" class="btn">View site</a></div>
                  </div>
                </div>
              </li> -->
              <li data-groups="[&quot;web&quot;]" class="works-item"><a href="#works-item-details-5" class="works-item-link"><span class="works-item-thumb"><img src="./assets/images/home.png" width="250" height="250" alt=""></span></a>
                <div id="works-item-details-5" class="popup mfp-hide">
                  <figure><img src="./assets/images/home.png" width="750" height="500" alt=""></figure>
                  <div class="popup-inner">
                    <h3> Homepage Design</h3>
                    <p>SHS Thesis homepage design for the Sweet Home Cafe</p>
                    
                  </div>
                </div>
              </li>
              <li data-groups="[&quot;web&quot;]" class="works-item works-item-w"><a href="#works-item-details-3" class="works-item-link"><span class="works-item-thumb"><img src="./assets/images/form.png" width="250" height="250" alt=""></span></a>
                <div id="works-item-details-3" class="popup mfp-hide">
                  <figure><img src="./assets/images/form.png" width="750" height="500" alt=""></figure>
                  <div class="popup-inner">
                    <h3>Feedback Form</h3>
                    <p> SHS Thesis feedback form design.</p>
                  </div>
                </div>
              </li>
              <li data-groups="[&quot;branding&quot;]" class="works-item"><a href="#works-item-details-2" class="works-item-link"><span class="works-item-thumb"><img src="./assets/images/music.jpg" width="250" height="250" alt=""></span></a>
                <div id="works-item-details-2" class="popup mfp-hide">
                  <figure><img src="./assets/images/music.jpg" width="750" height="500" alt=""></figure>
                  <div class="popup-inner">
                    <h3>LYAB Student</h3>
                    <p> <b> Member of the Loboc Youth Ambassador's Band (LYAB) on the year 2012-2014. I played flute. </b> </p>
                  </div>
                </div>
              </li>
              <li data-groups="[&quot;branding&quot;]" class="works-item"><a href="#works-item-details-6" class="works-item-link"><span class="works-item-thumb"><img src="./assets/images/lyre.jpg" width="250" height="250" alt=""></span></a>
                <div id="works-item-details-6" class="popup mfp-hide">
                  <figure><img src="./assets/images/lyre.jpg" width="750" height="500" alt=""></figure>
                  <div class="popup-inner">
                    <h3>School Lyrist </h3>
                    <p> I played lyre during school festivals and music competitions.</p>
                    
                  </div>
                </div>
              </li>
            </ul>
  
          </div>
  
        </div>
      </section>
      <!-- END PROJECTS SECTION-->

       <!-- BEGIN FOOTER-->
    <section id="contacts" class="section section-bg-img section-bg-overlay section-top-rise">
        <div class="bg"></div>
        <div class="section-inner">
  
          <div class="container">
  
            <header class="heading">
              <h2>Contact Me</h2>
              <div class="separator"></div>
            </header>
  
            <div class="contacts">
              <div class="row">
                <div class="col span_4">
                  <div class="contacts-item">
                    <div class="icon-b"><i class="fa fa-map-marker"></i></div>
                    <address class="adr"><span class="country-name">Cambance</span>, <span class="locality">Loboc</span>, <br><span class="street-address">Bohol, 6316</span></address>
                  </div>
                </div>
                <div class="col span_4">
                  <div class="contacts-item">
                    <div class="icon-b"><i class="fa fa-mobile"></i></div><span class="tel">0906 413 0680</span>
                  </div>
                </div>
                <div class="col span_4">
                  <div class="contacts-item">
                    <div class="icon-b"><i class="fa fa-send"></i></div><a href="mailto:mail@yoursite.com" class="email">rcalipusan12@gmail.com</a>
                  </div>
                </div>
              </div>
            </div>
            <form method="post" action="https://alexilin.ru/demo/unica/send.php" class="contact-form">
              <div class="row">
                <div class="col span_6">
                  <div class="input">
                    <label for="name">Your name</label>
                    <div class="input-field">
                      <input type="text" name="name" id="name" class="input-field-item required">
                    </div>
                  </div>
                </div>
                <div class="col span_6">
                  <div class="input">
                    <label for="email">Your mail</label>
                    <div class="input-field">
                      <input type="text" name="email" id="email" class="input-field-item required">
                    </div>
                  </div>
                </div>
              </div>
              <div class="input">
                <label for="message">Your Message</label>
                <div class="input-field">
                  <textarea name="message" id="message" cols="30" rows="5" class="input-field-item required"></textarea>
                </div>
              </div>
              <div class="center">
                <input type="submit" value="Send" class="btn btn-bordered">
              </div>
            </form>
  
          </div>
  
        </div>
      </section>
      <!-- END FOOTER-->